.admin-header {
    background-color: $achieve-red;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
}

.admin-logo {
    max-height: 100px;
    padding-left: 20px;
    padding-top: 5px;
}

.md-tabs {
    background-color: $achieve-red;
}