@import '~react-md/src/scss/react-md';
@import 'fonts';

$achieve-red: #AB182F;

$achieve-white: #ffffff;
$achieve-grey: #EBF1F5;
$achieve-darkgrey: #656565;

$achieve-blue: #5FC9F0;
$achieve-green: #3DB862;

$achieve-yellow: #FFCE00;
$achieve-orange: #F37629;

$md-primary-color: $achieve-blue;
$md-secondary-color: $achieve-green;

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}

// global classes
.add-text {
  font-size: 24px;
  line-height: 42px;
  padding-right: 50px;
}

.add-wrapper {
  padding: 10px;
}

.dialog-content {
  word-wrap: normal;
}

.dialog-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.dialog-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.dialog-title {
  font-size: 18px;
  font-weight: bold;
}

.dialog-text {
  font-size: 16px;
}

.logout-button {
  color: $achieve-white !important;
}

.tab-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.tab-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-wrapper {
  background-color: $achieve-white;
}

.table-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

@include react-md-everything;
@import 'login';
@import 'coach';
@import 'admin';
@import 'tickets';
