.login-toolbar {
    background-color: $achieve-red;
    justify-content: center;
}

.login-logo {
    padding: 20px;
}

.md-toolbar--prominent {
    height: 200px;
}

.login-fields {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.login-content {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $achieve-grey;
    height: 100vw;
    flex-direction: column;
}

img {
    max-width: 100%;
}